In [ ]:
# Submitted by Swoyam Sukumar (swoyam.sukumar@gmail.com)

Q1> Create an example of :
1) list 
2) touple
3) set 
4) dictionary

In [72]:
#Q1> Create an example of : 1) list  2) touple 3) set  4) dictionary
list=[1,2,3,"hi"]               # list -> ordered collection of datypes ,[],mutable
touple=(1,2,3,"hi")             # Tuple -> Ordered collection of datatypes,(),immutable
set={1,2,3,4}                   # set -> is an unordered collection of datatypes ,{} ,Doesnt contain an duplicate values,mutable
dic={1:"A",
     2:"B",
     3:"C"}                     # Dictionary ->key pair(key and values),{},mutable
print(list,type(list))
print(touple,type(touple))
print(set,type(set)) 
print(dic,type(dic))

[1, 2, 3, 'hi'] <class 'list'>
(1, 2, 3, 'hi') <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{1: 'A', 2: 'B', 3: 'C'} <class 'dict'>

Q2> What are r+, w+, a+ models give examples

After creation of s.txt content present in s.txt is "sample txt"

In [70]:
#Q2> What are r+, w+, a+ models give examples  
a=open("s.txt","r+") # r+ is used of reading first then writing
print(a.tell())      # tell() is used to find out the position of the cursor  
data=print(a.read())
print(a.tell())
a.write(" + txt written through write")
print(a.tell())
a.seek(0)            # used to move the cursor to initial 0 position
print(a.read())
a.close()

0
sample txt
10
38
sample txt + txt written through write

In [77]:
a=open("s2.txt","w+") # after this line the sample txt is deleted w+ is used to write first then read
print(a.tell())
a.write("txt written through write")
print(a.tell())
a.seek(0)
print(a.read())
print(a.tell())

0
25
txt written through write
25

In [79]:
a=open("s3.txt","a+") # a+ is used for appending then reading
print(a.tell())
a.write(" + txt written through write")
print(a.tell())
a.seek(0)
print(a.read())
print(a.tell())

10
38
sample txt + txt written through write
38